/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Header */
 header {
    background-color: #0d3b66; /* deep blue */
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

header h1 {
    font-size: 2em;
    margin-bottom: 5px;
}

header p {
    font-size: 1em;
    margin-top: 0;
    opacity: 0.8; /* lighter subtitle text */
}

/* Container */
#container {
  display: flex;
  height: calc(100% - 60px); /* subtract header height */
}

/* Sidebar */
#sidebar {
  width: 300px;
  background-color: #f4f4f4;
  padding: 15px;
  overflow-y: auto;
}

/* Map */
#map {
  flex: 1;
}
